/* =============================================================================
   DO NOT CHANGE ANY OF THE CODE HERE! MODIFY STYLES.CSS INSTEAD
   ========================================================================== */



/* Workshop Template */

html {
    height: 100%;
}
.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    font-family: Helvetica, sans-serif;
    height: 150px;
    border: 5px solid black;
    box-sizing: border-box;
}

a {
  font-weight: bold;
  font-size: 24px;
  background-color: tomato;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
  }

body {
    background-color: #515A6B;
    background-image: url("background.png");
    background-size: cover;
    background-position: center 100%;
    background-repeat: no-repeat;
}

h1.workshop-name {
    color: white;
    font-family: 'helvetica neue', arial, sans-serif;
    font-weight: normal;
    margin-top: 6vh;
    margin-left: calc(50vw - 325px);
    font-size: 2.25em;
}

div.content {
    height: 78vh;
    width: 650px;
    position: fixed;
    top: 16vh;
    left: calc(50vw - 325px);
    background-color: rgba(255, 255, 255, .75);
    overflow: auto;
    border-radius: 10px;
    padding: 25px;
}

img.sonde {
    left: calc(50vw - 325px - 50px);
    bottom: 0;
    position: absolute;
    height: 100px;
}