
/* =============================================================================
   These are only sample solutions. There are many ways to accomplish the tasks.
   This menu is adapted from the Bootstrap navigation menu.
   ========================================================================== */

/* Exercise 2 */
ul.packing-list li {
    color: #777;
}

/* Exercise 3 */
ul.packing-list li {
    display: inline-block;
}

/* Exercise 4 */
ul.packing-list {
    border: #e7e7e7 solid 5px;
    border-radius: 4px;
    background-color: #f8f8f8;
}


/* Exercise 5 */
ul.packing-list li:hover {
    background-color: #e7e7e7;
    color: #555;
}
/* Exercise 6 */
ul.packing-list li {
    padding: 25px;
}
/* Exercise 7 */
ul.packing-list {
    display: inline-block;
}

.content {
    text-align: center;
}
